<div class="projects-wrapper">

  <div class="title">
    <h3 class="mat-headline-3">My Projects</h3>
    <h3 class="mat-headline-5">Some of the projects i worked on</h3>
    <h3 class="mat-headline-5">Click on the links below the description to find out more</h3>
  </div>

  <div class="projects">
    <mat-card appearance="outlined" *ngFor="let project of projects">
      <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a [href]="project.link.url" target="_blank">
          <button mat-button>{{project.link.text}}</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
