.projects-wrapper {
  background-color: #3f51b5;
  padding-top: 40px;
}

.projects-wrapper .projects {
  display: flex;
  justify-content: center; /* evenly distribute cards along the row with space around them */
  flex-wrap: wrap; /* allows the items to wrap as needed */
  padding: 0 20px 30px 20px;
}

mat-card {
  margin: 30px 30px 0 0;
  max-width: 300px;
  width: 300px;
  justify-content: space-between;
}

mat-card-actions {
  order: 2; /* put the actions to the bottom (works also without this) */
}

mat-card:hover {
  box-shadow: 10px 10px 20px 0 rgba(0,0,0,1);
  transition: box-shadow .3s ease-in-out;
}

.projects-wrapper .title {
  justify-items: center;
  display: grid;
  color: white;
}
