.skills-wrapper {
  background-color: #3f51b5;
  padding: 40px;
}

.skills-wrapper .title {
  justify-items: center;
  display: grid;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-wrapper h3 {
  display: grid;
  justify-items: center;
}

/* Card with 3D depth */
.chip-card {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Slight lift on hover */
.chip-card:hover {
  box-shadow: 10px 10px 20px 0 rgba(0,0,0,1);
  transition: box-shadow .3s ease-in-out;
}
