.logo img {
  padding: 30px 0;
  width: 100%;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  text-align: center;
}

.resource-list ul {
    text-align: left;
    margin: 0 auto;
    width: 300px;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
    width: 20px;
}

.spacer {
  flex: 1 1 auto;
  max-width: 150px;
}

.toolbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: #3f51b5;
}

mat-toolbar {
  display: inline-flex;
  width: auto;
  gap: 10px; /*space between menu items*/
}

/* Default: desktop view */
.nav-links {
  display: flex;
}

.nav-menu {
  display: none;
}

/* Mobile: width 500px or below */
@media (max-width: 500px) {
  .nav-links {
    display: none;     /* Hide regular buttons */
  }

  .nav-menu {
    display: block;    /* Show hamburger menu */
  }
}
