<div id="content">
  <div class="toolbar-wrapper">
    <mat-toolbar color="primary">
      <span>My Portfolio</span>
      <span class="spacer"></span>
      <button mat-button>Home</button>
      <button mat-button>Projects</button>
      <button mat-button>Contact</button>
      <button mat-icon-button aria-label="Example icon button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <app-shaped-divider foregroundColor="#3f51b5" backgroundColor="orange"></app-shaped-divider>
  <app-profile></app-profile>
  <app-shaped-divider foregroundColor="orange" backgroundColor="#3f51b5"></app-shaped-divider>
</div>
