<div id="content">
  <div class="toolbar-wrapper">
    <mat-toolbar color="primary">
      <span>My Portfolio</span>
      <span class="spacer"></span>
      <button mat-button (click)="scrollTo('projectsTitle')">Projects</button>
      <button mat-button (click)="scrollTo('experienceTitle')">Experience</button>
      <button mat-button (click)="scrollTo('skillsTitle')">Skills and Tech</button>
      <button mat-icon-button aria-label="Example icon button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <app-shaped-divider foregroundColor="#3f51b5" backgroundColor="orange"></app-shaped-divider>
  <app-profile></app-profile>
  <app-shaped-divider foregroundColor="orange" backgroundColor="#3f51b5"></app-shaped-divider>
  <app-projects></app-projects>
  <app-shaped-divider foregroundColor="#3f51b5" backgroundColor="orange"></app-shaped-divider>
  <app-experience></app-experience>
  <app-shaped-divider foregroundColor="orange" backgroundColor="#3f51b5"></app-shaped-divider>
  <app-skills-tech></app-skills-tech>
  <app-shaped-divider foregroundColor="#3f51b5" backgroundColor="orange"></app-shaped-divider>
  <app-about-me></app-about-me>
  <app-shaped-divider foregroundColor="orange" backgroundColor="#3f51b5"></app-shaped-divider>
  <app-contact></app-contact>
</div>
