.profile-wrapper {
  display: grid;
  width: 100%;
  justify-items: center;
  background-color: orange;
}

.profile-wrapper h1 {
  text-align: center;
}
.profile-image {
  border-radius: 50%;
}

.profile-wrapper .spacing {
  margin-top: 20px;
  margin-bottom: 20px!important;
}
