/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-blue-light: #93c5fd;
  --color-blue-very-light: #dbeafe;
  --color-blue-primary: #2563eb;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
}
